body{
    margin: 0;
}
.div1{
    height: 100px;
    width: 100px;
    background-image: linear-gradient(yellowgreen, yellow);
    border-radius: 50%;
    position: absolute;

    /* animation property */
    animation-name: batch3;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    

}

@keyframes batch3 {
        0%{
            left: 0;
            top: 0;

        }
        25%{
            left: 400px;
            top: 0;
            background-image: linear-gradient(purple, darkblue);
        }
        50%{
            left: 400px;
            top: 400px;
        }
        75%{
            left: 0;
            top: 400px;
        }
        100%{
            left: 0;
            top: 0;
        }
}
